<div class="contact">
  <h2 data-aos="fade-up">Get In Touch</h2>
  <div class="form-container" data-aos="zoom-in-up">
    <form>
      <div class="form-group">
        <input type="text" placeholder="Your Name" required>
      </div>
      <div class="form-group">
        <input type="email" placeholder="Your Email" required>
      </div>
      <div class="form-group">
        <textarea placeholder="Tell me about your project" required></textarea>
      </div>
      <a href="https://wa.me/62895412364337?text=Hai%20Alfin%2C%20Saya%20ingin%20bertanya%20terkait%20pembuatan%20website" target="_blank" class="submit-btn">Send Message</a>
    </form>
  </div>
</div>
