<div class="about">
  <h2>About Me</h2>
  <div class="about-content">
    <img src="1732717869809.jpeg" alt="About Me">
    <div class="text">
      <p>
        Hi, I'm <strong>Alfin</strong>, a passionate <b>Web Developer</b> specialized in
        <b>Laravel</b> and <b>Angular</b>. I also can be a Fullstack where I enjoy building modern web applications with
        clean design, optimized performance, and user-friendly interfaces.
      </p>
      <p>
        With strong problem-solving skills and continuous learning mindset, I aim to deliver 
        impactful digital solutions that help businesses grow.
        <p>
          I also have other skills such as <b>SEO Analyst</b> and can also be a <b>Content Writer</b>.
        </p>
      <p>
        Let's connect and create something amazing together!
      </p>
    </div>
  </div>
</div>
