<footer class="footer">
  <div class="footer-content">
    <div class="social-links">
      <a href="https://github.com/Alvien01" target="_blank" aria-label="GitHub">
        <lucide-icon [name]="Github"></lucide-icon>
      </a>
      <a href="https://www.linkedin.com/in/alfin-ardiansyah-93150a250/" target="_blank" aria-label="LinkedIn">
        <lucide-icon [name]="Linkedin"></lucide-icon>
      </a>
      <a href="https://instagram.com/" target="_blank" aria-label="Instagram">
        <lucide-icon [name]="Instagram"></lucide-icon>
      </a>
    </div>
    <p>&copy; 2026 Alfin Ardiansyah. Crafted with passion.</p>
  </div>
</footer>
