<header class="header" [class.scrolled]="isScrolled">
  <div class="nav-container">
    <a (click)="scrollTo('home')" class="logo">
      ALFIN<span>.</span>
    </a>

    <nav [class.open]="isMenuOpen">
      <a (click)="scrollTo('home'); toggleMenu(false)">Home</a>
      <a (click)="scrollTo('about'); toggleMenu(false)">About</a>
      <a (click)="scrollTo('skills'); toggleMenu(false)">Skills</a>
      <a (click)="scrollTo('projects'); toggleMenu(false)">Projects</a>
      <a (click)="scrollTo('certificates'); toggleMenu(false)">Certificates</a>
      <a (click)="scrollTo('contact'); toggleMenu(false)">Contact</a>
    </nav>

    <button class="menu-toggle" (click)="toggleMenu()">
      <lucide-icon [name]="isMenuOpen ? XIcon : MenuIcon"></lucide-icon>
    </button>
  </div>
</header>
