<div class="skills">
  <h2>My Skills</h2>
  <div class="skills-grid">
    <div class="skill-card">
      <img src="Angular_gradient.png" alt="Angular Logo">
      <h3>Angular</h3>
    </div>
    <div class="skill-card">
      <img src="Laravel.png" alt="Laravel Logo">
      <h3>Laravel</h3>
    </div>
    <div class="skill-card">
      <img src="Tailwind-removebg-preview.png" alt="Tailwind Logo">
      <h3>Tailwind CSS</h3>
    </div>
        <div class="skill-card">
      <img src="css.png" alt="CSS Logo">
      <h3>CSS</h3>
    </div>
        <div class="skill-card">
      <img src="PHP.png" alt="PHP Logo">
      <h3>PHP</h3>
    </div>
        <div class="skill-card">
      <img src="HTML.webp" alt="HTML Logo">
      <h3>HTML</h3>
    </div>
        <div class="skill-card">
      <img src="API.jpg" alt="API Logo">
      <h3>API</h3>
    </div>
        <div class="skill-card">
      <img src="Content Writer.png" alt="Content Writer Logo">
      <h3>Content Writer</h3>
    </div>
  </div>
</div>
