<div class="skills">
  <h2>My Skills</h2>
  <div class="skills-grid">
    <div class="skill-card">
      <img src="Angular_gradient.png" alt="Angular Logo" />
      <h3>Angular</h3>
    </div>
    <div class="skill-card">
      <img src="Laravel.png" alt="Laravel Logo" />
      <h3>Laravel</h3>
    </div>
    <div class="skill-card">
      <img src="Tailwind-removebg-preview.png" alt="Tailwind Logo" />
      <h3>Tailwind CSS</h3>
    </div>
    <div class="skill-card">
      <img src="css-removebg-preview.png" alt="CSS Logo" />
      <h3>CSS</h3>
    </div>
    <div class="skill-card">
      <img src="PHP.png" alt="PHP Logo" />
      <h3>PHP</h3>
    </div>
    <div class="skill-card">
      <img src="HTML-removebg-preview.png" alt="HTML Logo" />
      <h3>HTML</h3>
    </div>
    <div class="skill-card">
      <img src="API-removebg-preview.png" alt="API Logo" />
      <h3>API</h3>
    </div>
    <div class="skill-card">
      <img src="Content Writer.png" alt="Content Writer Logo" />
      <h3>Content Writer</h3>
    </div>
    <div class="skill-card">
      <img src="SEO-removebg-preview.png" alt="SEO Logo" />
      <h3>SEO Analyst</h3>
    </div>
    <div class="skill-card">
      <img
        src="png-transparent-codeigniter-hd-logo-removebg-preview.png"
        alt="Code Igniter Logo"
      />
      <h3>Code Igniter</h3>
    </div>
    <div class="skill-card">
      <img src="NET-removebg-preview.png" alt=".NET Logo" />
      <h3>.NET</h3>
    </div>
    <div class="skill-card">
      <img
        src="mysql-logo-png-image-11660514413jvwkcjh4av-removebg-preview.png"
        alt="MySQL Logo"
      />
      <h3>MySQL</h3>
    </div>
    <div class="skill-card">
      <img
        src="images__3_-removebg-preview.png"
        alt="Golang Logo"
      />
      <h3>Golang</h3>
    </div>
    <div class="skill-card">
      <img
        src="images__2_-removebg-preview.png"
        alt="Vue Logo"
      />
      <h3>Vue JS</h3>
    </div>
    <div class="skill-card">
      <img
        src="Unofficial_JavaScript_logo_2.svg.png"
        alt="JavascriptLogo"
      />
      <h3>Javascript</h3>
    </div>
    <div class="skill-card">
      <img
        src="1_nLbfO_PdTSpeCdZQuUr8RQ-removebg-preview.png"
        alt="Astro JS Logo"
      />
      <h3>Astro JS</h3>
    </div>
  </div>
</div>
